<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book an appointment</title>
    <link th:href="@{/styles/cssAndjs/app.css}" rel="stylesheet"/>
    <link th:href="@{/styles/cssAndjs/bootstrap.css}" rel="stylesheet"/>
    <link rel="icon" href="..Images/favicon.png">
</head>
<body>
<div class="container main-container">
    <div class="row pt-4">
        <div class="col-5 m-auto text-center">
            <h1>KALORIA</h1>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-item" onclick="navigationClick('DietSuggestions')"><a
                        class=" nav-link">Diet suggestions</a></li>
                <li class="nav-item active" onclick="navigationClick('BookAppointment')"><a
                        class="nav-link" aria-current="page" href="#">Book an appointment</a></li>
                <li class="nav-item active" onclick="navigationClick('ShowAppointmentHistory')"><a
                        class="nav-link" aria-current="page" href="#">Show appointments history</a></li>
            </ul>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <div class="row pt-12">
                <div class="verified-dietician">
                    <div id="verified-dietician-id"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row pt-3">
        <div class="col-12">
            <div class="row pt-12">
                <div class="appointment-history">
                    <div id="appointment-history-id"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/appointments.js"></script>
</body>
</html>